# Git
.git
.gitignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Poetry
.poetry/

# CLI - not needed for server image
dsctl_cli/

# Tests
tests/
.pytest_cache/
